ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    /* --height: fit-content; */
    --border-radius: 6px;
    /* --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4); */
    flex-direction: unset !important;
    background: transparent !important;
  }
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }

  ion-grid {
    --ion-grid-padding: 0px;
    --ion-grid-column-padding: 0.5px;
  }
  
  ion-col {
    padding: 0.5px;
  }
