  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  body {
    background: #000;
    color: #000;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* background: rgba(28, 28, 30, 0.5) !important; */
    /* backdrop-filter: blur(20px) !important; */
  }

  .swiper-wrapper{
    /* background: rgba(28, 28, 30, 0.5) !important;
    backdrop-filter: blur(20px) !important; */
  }
  
 /* .swiper-slide {
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-right: 0 !important;
    width: auto !important;
  } */
  
  .mySwiper2 {
    display: flex;
    min-height: 80%;
    height: 100%;
    max-height: 100%;
    width: 100%;
    /* background: rgba(28, 28, 30, 1); */
    /* backdrop-filter: blur(2px)!important; */
    transition: height 0.45s;
    --swiper-navigation-color: transparent !important;
  }
  .mySwiper2.mySwiper2powerslide{
    height: 100%;
  }
  
  /* the thumbnail reel (defaults and hidden)  */
  .thumbnailGallery {
    display: inline;
    background: rgba(28, 28, 30, 0.5) !important;
    backdrop-filter: blur(20px)!important;
    position: absolute;
    bottom: 0;
    height: 8%;
    min-height:  0%;
    max-height: 20%;
    box-sizing: border-box;
    padding: 0;
    opacity: 0;
    transition: opacity 0.45s linear;
  }

  /* the thumbnail reel when shown  */
  .thumbnailGallery.thumbnailGalleryPowerSlide{
    height: 8%;
    padding: 0;
    opacity: 1; 
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    margin: 0 !important;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .master-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: black !important;
  }
  
  .thumbnailGallery .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active {
    margin: 0;
    opacity: 1 !important;
  }
  .thumbnailGallery .swiper-wrapper .mySwiper .swiper-slide-thumb-active {
    opacity: 1 !important;
  }

  .thumbnailGallery .swiper-wrapper .swiper-slide {
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-right: 0 !important;
    width: 35px !important;
    opacity: 0.3;
  }
  .thumbnailGallery .swiper-wrapper .swiper-slide.swiper-slide-thumb-active  {
    opacity: 1 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .toolbox{
    display: none;
    opacity: 0;
    transform: opacity 1s;
    backdrop-filter: blur(20px);
  }
  .toolbox-show {
    transform: opacity 1s;
    display: block;
    opacity: 1;
  }

  .ionToolbar{
    background: rgba(0, 0, 0, 0.0) !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }