/* #app { height: 100%; background: rgba(0, 0, 0, 0) !important; }
html,
body {
  position: relative;
  height: 100%;
  background: rgba(0, 0, 0, 0) !important; 
}

body {
    background: rgba(0, 0, 0, 0) !important; 
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) !important; 
}

.swiper-slide {
  overflow: hidden;
  background: rgba(0, 0, 0, 0) !important; 
}
 */

 #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }

  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  body {
    background: #000;
    color: #000;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    display: flex;
    min-height: 80%;
    height: 100%;
    max-height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.55);
    transition: height 0.45s;
  }
  .mySwiper2.mySwiper2powerslide{
    /* height: 80%; */
    height: 100%;
  }
  
  .mySwiper {
    display: inline;
    background: rgba(0,0,0,0.55);
    position: absolute;
    bottom: 50px;
    height: 0%;
    min-height:  0%;
    max-height: 20%;
    box-sizing: border-box;
    padding: 0;
    opacity: 0;
    transition: height 0.45s linear, padding 0.45s linear, opacity 0.45s linear;
  }

  .mySwiper.mySwiperpowerslide{
    height: 20%;
    padding: 10px 0;
    opacity: 1;
    background: rgba(0,0,0,0.55);
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .master-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
